<h2>Edit Post</h2>
<form id="form">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" value="{{post.title}}" />
  </div>
  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="Body" id="text" style="height: 100px">{{post.text}}</textarea>
    <label for="text">What would you like to say?</label>
  </div>
  <div class="btn-group d-inline" role="group" aria-label="Save/Cancel">
    <button type="submit" class="btn btn-success"><i class="bi bi-check-lg"></i> Save</button>
    <button id="cancel" type="button" class="btn btn-danger"><i class="bi bi-x-lg"></i> Cancel</button>
  </div>
</form>
<script src="/js/edit-post.js"></script>